.logo {
  height: 28px;
  fill: $white;

  @include on-desktop-s {
    @include svg-icon-theme(logo, $white, var(--bg-button-page), $my-duration);
  }
}

.menu-btn {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 4px;

  &::before,
  &::after {
    content: '';
    width: 18px;
    height: 2px;
    background-color: $white;
  }
}

.button {
  height: 50px;
  width: 100%;
  max-width: 280px;
  background: var(--bg-button-page);
  border-radius: var(--button-page-radius);
  color: $white;

  @include on-tablet {
    width: 264px;
  }

  @include on-desktop-s {
    @include hover(background-color, var(--bg-button-form));
  }

  transition:
    background-color $my-duration,
    border-radius $my-duration;
}

.slider-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  background-color: $white;
  border-radius: $circle;

  @include on-desktop-s {
    @include hover(background-color, $blue-hover);
  }

  &::after,
  &::before {
    content: '';
    position: absolute;
    display: block;
    height: 2px;
    width: 7px;
    background-color: $grey;
    transition: background-color, $my-duration;
  }

  @include on-desktop-s {
    &:hover::after,
    &:hover::before {
      background-color: var(--bg-button-page);
    }
  }

  &::after {
    transform-origin: left bottom;
    transform: translateY(-50%) rotate(45deg);
  }
  &::before {
    transform-origin: left top;
    transform: translateY(50%) rotate(-45deg);
  }
}

.no-wrap-text {
  white-space: nowrap;
}

.wrapper {
  margin: 0 auto;
  max-width: $content-max-width;
}

.grid {
  @include page-grid;
}

.card {
  &-services {
    border-radius: 30px;
    background-color: $white;
    padding: 32px;
    box-shadow: 0 9px 18px 0 rgba(37, 41, 49, 0.03);

    @include on-desktop-s {
      &--1 {
        @include hover(box-shadow, var(--card-shadow-1));
      }
      &--2 {
        @include hover(box-shadow, var(--card-shadow-2));
      }
      &--3 {
        @include hover(box-shadow, var(--card-shadow-3));
      }
      &--4 {
        @include hover(box-shadow, var(--card-shadow-4));
      }
    }

    &__number {
      display: flex;
      justify-content: center;
      border-radius: 23px;
      width: 46px;

      margin-bottom: 24px;
    }

    &__text {
      @extend %font-card-text;

      margin-bottom: 32px;
    }

    &__link {
      display: flex;
      align-items: center;
      height: 40px;
      width: 100%;
      color: $font-card-link;
      transition: color $my-duration;

      @extend %font-button;

      @include on-desktop-s {
        &:hover {
          .card-services__button {
            transform: rotate(-90deg);
          }
        }

        &--1:hover {
          color: var(--color-card-1);
          .card {
            box-shadow: var(--card-shadow-1);
          }
        }

        &--2:hover {
          color: var(--color-card-2);
        }

        &--3:hover {
          color: var(--color-card-3);
        }

        &--4:hover {
          color: var(--color-card-4);
        }
      }
    }

    &__button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $blue-secondary;
      border-radius: $circle;
      height: 40px;
      aspect-ratio: 1 / 1;
      margin-right: 16px;
      transition: transform $my-duration;

      &-image {
        height: 16px;
        width: 16px;

        @include background-config(
          $image: url(../images/icons/st-right.svg),
          $size: contain
        );
      }

      &-color {
        &--1 {
          background-color: var(--color-card-1);
        }
        &--2 {
          background-color: var(--color-card-2);
        }
        &--3 {
          background-color: var(--color-card-3);
        }
        &--4 {
          background-color: var(--color-card-4);
        }
      }
    }

    &__bg-color {
      &--1 {
        background-color: var(--bg-card-1);
      }

      &--2 {
        background-color: var(--bg-card-2);
      }

      &--3 {
        background-color: var(--bg-card-3);
      }

      &--4 {
        background-color: var(--bg-card-4);
      }
    }

    &__color {
      &--1 {
        color: var(--color-card-1);
      }
      &--2 {
        color: var(--color-card-2);
      }
      &--3 {
        color: var(--color-card-3);
      }
      &--4 {
        color: var(--color-card-4);
      }
    }
  }

  &-testimonials {
    background-color: $white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    padding: 32px 42px;

    @include on-desktop-s {
      padding-inline: 48px;
    }

    @include on-design {
      padding-inline: 56px;
    }

    &__back-image {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 24px;
      height: 196px;
      width: 196px;

      @include on-tablet {
        height: 250px;
        width: 250px;
      }

      &::before,
      &::after {
        content: '';
        display: block;
        position: absolute;
        height: 108.98px;
        width: 43.9px;
        border-radius: 12px;
        transition: transform $my-duration;

        @include on-tablet {
          height: 139px;
          width: 56px;
        }
      }

      &--1 {
        &::before,
        &::after {
          background-color: var(--color-card-1);
        }
      }

      &--2 {
        &::before,
        &::after {
          background-color: var(--color-card-2);
        }
      }

      &--3 {
        &::before,
        &::after {
          background-color: var(--color-card-3);
        }
      }

      &::before {
        transform: translateY(-35%) translateX(-90%) rotate(30deg);
      }

      &::after {
        transform: translateY(35%) translateX(90%) rotate(30deg);
      }
    }

    &__image {
      z-index: 1;
      height: 110px;
      width: 110px;
      border-radius: $circle;
      aspect-ratio: 1 / 1;

      @include on-tablet {
        width: 140px;
        height: 140px;
      }
    }

    &__decor {
      height: 24px;
      width: 24px;
      display: grid;
      place-items: center;

      margin-bottom: 8px;

      @include on-tablet {
        margin-bottom: 16px;
      }

      @include on-desktop-s {
        margin-bottom: 8px;
      }

      &--1 {
        & path {
          fill: var(--color-card-1);
        }
      }

      &--2 {
        & path {
          fill: var(--color-card-2);
        }
      }

      &--3 {
        & path {
          fill: var(--color-card-3);
        }
      }
    }

    &__description {
      max-width: 362px;

      @extend %font-card-text;

      margin-bottom: 16px;

      @include on-desktop-s {
        margin-bottom: 24px;
      }

      @include on-design {
        margin-bottom: 16px;
      }
    }

    &__name {
      @extend %font-card-text;

      color: $font-color-title;

      margin-bottom: 4px;
    }
  }
}

.shapes {
  opacity: 0.5;

  &__st-width--1 {
    fill: none;
    stroke-width: 3;
  }

  &__st-width--2 {
    fill: none;
    stroke-width: 6;
  }

  &__st-miterlimit--1 {
    rx: var(--st-miterlimit-1);
  }

  &__st-miterlimit--2 {
    rx: var(--st-miterlimit-2);
  }

  &__st-miterlimit--3 {
    rx: var(--st-miterlimit-3);
  }

  &__st-miterlimit--4 {
    rx: var(--st-miterlimit-4);
  }

  &__st-color--1 {
    stroke: var(--shapes-color-1);
  }
  &__st-color--2 {
    stroke: var(--shapes-color-2);
  }
  &__st-color--3 {
    stroke: var(--shapes-color-3);
  }
  &__st-color--4 {
    stroke: var(--shapes-color-4);
  }
  &__st-color--5 {
    stroke: var(--shapes-color-5);
  }
}

.form {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;

    margin-bottom: 56px;

    @include on-tablet {
      gap: 48px;

      margin-bottom: 80px;
    }
  }

  &__label {
    position: relative;
    display: flex;
    height: 41px;
    border-bottom: 1px solid $white;

    &:focus-within {
      border-bottom: 2px solid var(--bg-border-form);
    }
  }

  &__input {
    position: absolute;
    width: 100%;
  }
}

.switcher {
  --base-rotate: 0deg;
  --hover-rotate: 0deg;

  fill: var(--bg-switcher);

  transform: rotate(calc(var(--base-rotate) + var(--hover-rotate)));
  transition:
    transform $my-duration,
    fill $my-duration;

  &-link {
    display: flex;
    height: 23px;
    width: 23px;
    margin-right: 32px;
  }

  &__image {
    &-path-1 {
      transition: fill $my-duration;

      fill: var(--bg-switcher);
    }
  }

  &__circle {
    fill: none;
  }
}

html[data-theme] .switcher {
  --base-rotate: 180deg;
}

@include on-desktop-s {
  html:not([data-theme]) .switcher:hover {
    --hover-rotate: 25deg;
  }

  html[data-theme] .switcher:hover {
    --hover-rotate: -25deg;
  }
}

.scroll-top {
  z-index: 1;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 10px;
  right: 10px;
  width: 52px;
  height: 52px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease,
    visibility 0.3s ease;

  @include on-tablet {
    width: 52px;
    height: 52px;
    bottom: 24px;
    right: 24px;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 10px;
    background-color: var(--bg-button-page);
    transition: background-color 0.3s;
  }

  &::before {
    transform-origin: top left;
    transform: translate(50%) rotate(45deg);
  }

  &::after {
    transform-origin: top right;
    transform: translate(-50%) rotate(-45deg);
  }

  &.visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
