.menu-btn {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 8px;
  width: 100%;
  gap: 4px;

  &::before,
  &::after {
    content: '';
    width: 18px;
    height: 2px;
    background-color: $white;
  }
}

.button {
  height: 50px;
  width: 280px;
  background: var(--bg-button-page);
  border-radius: var(--button-page-radius);

  @include on-tablet {
    width: 264px;
  }
}

.slider-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
  background-color: $white;
  border-radius: $circle;

  &::after,
  &::before {
    content: '';
    position: absolute;
    display: block;
    height: 2px;
    width: 7px;
    background-color: $grey;
  }

  &::after {
    transform-origin: left bottom;
    transform: translateY(-50%) rotate(45deg);
  }
  &::before {
    transform-origin: left top;
    transform: translateY(50%) rotate(-45deg);
  }
}

.no-wrap-text {
  white-space: nowrap;
}

.wrapper {
  margin: 0 auto;
  max-width: $content-max-width;
}

.grid {
  @include page-grid;
}

.card-services {
  border-radius: 30px;
  background-color: $white;
  padding: 32px;
  box-shadow: 0 9px 18px 0 rgba(37, 41, 49, 0.03);

  &__number {
    display: flex;
    justify-content: center;
    border-radius: 23px;
    width: 46px;

    margin-bottom: 24px;
  }

  &__text {
    @extend %font-card-text;

    margin-bottom: 32px;
  }

  &__link {
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;

    @extend %font-button;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $blue-secondary;
    border-radius: $circle;
    height: 40px;
    aspect-ratio: 1 / 1;
    margin-right: 16px;

    &-image {
      height: 16px;
      width: 16px;

      @include background-config(
        $image: url(../images/icons/st-right.svg),
        $size: contain
      );
    }
  }
}

.card-services__bg-color--1 {
  background-color: var(--bg-card-1);
}

.card-services__bg-color--2 {
  background-color: var(--bg-card-2);
}

.card-services__bg-color--3 {
  background-color: var(--bg-card-3);
}

.card-services__bg-color--4 {
  background-color: var(--bg-card-4);
}

.card-services__button-color--1 {
  background-color: var(--color-card-1);
}

.card-services__button-color--2 {
  background-color: var(--color-card-2);
}

.card-services__button-color--3 {
  background-color: var(--color-card-3);
}

.card-services__button-color--4 {
  background-color: var(--color-card-4);
}

.card-services__color--1 {
  color: var(--color-card-1);
}

.card-services__color--2 {
  color: var(--color-card-2);
}

.card-services__color--3 {
  color: var(--color-card-3);
}

.card-services__color--4 {
  color: var(--color-card-4);
}
