.description {
  text-align: center;
  width: 100%;

  @include adaptive-padding(
    120px 20px 120px 20px,
    $tablet: 148px 41px 148px 41px,
    $desktop-s: 148px 54px 148px 54px
  );

  &__title,
  &__text {
    --reveal-duration: 0.6s;
    --reveal-delay: 0s;

    opacity: 0;
    transform: translateY(20px);

    transition:
      opacity var(--reveal-duration) ease,
      transform var(--reveal-duration) ease;

    will-change: opacity, transform;
  }

  &__title.is-visible,
  &__text.is-visible {
    opacity: 1;
    transform: translateY(0);
    transition-delay: var(--reveal-delay);
  }

  &__title {
    --reveal-delay: 0s;

    grid-column: 1 / -1;

    margin-bottom: 24px;

    @include on-tablet {
      margin-bottom: 16px;
    }
  }

  &__text {
    --reveal-delay: 0.15s;

    grid-column: 1 / -1;

    @include on-desktop-s {
      place-self: center;
      max-width: 716px;
    }

    @include on-design {
      max-width: 100%;
      grid-column: 3 / -3;
    }

    @extend %font-description;
  }
}
