.division {
  background-color: $white;
  overflow: hidden;
  position: relative;
  margin-bottom: 120px;

  @include on-tablet {
    margin-bottom: 0;
  }

  @include on-desktop-s {
    height: 700px;
  }

  &__wrapper {
    text-align: center;

    @include adaptive-padding(
      72px 20px 72px 20px,
      $tablet: 200px 41px 200px 41px,
      $desktop-s: 200px 54px 200px 54px
    );
  }

  &__background {
    pointer-events: none;
    position: absolute;
    left: 50%;
    top: 50%;

    --parallax-x: 0px;
    --parallax-y: 0px;

    will-change: transform;
    transition: transform 0.1s linear;

    transform: translate(
        calc(-50% + var(--parallax-x)),
        calc(-50% + var(--parallax-y))
      )
      scale(1);

    @include on-tablet {
      transform: translate(
          calc(-50% + var(--parallax-x)),
          calc(-50% + var(--parallax-y))
        )
        scale(0.66);
    }

    @include on-desktop-s {
      transform: translate(
          calc(-50% + var(--parallax-x)),
          calc(-54% + var(--parallax-y))
        )
        scale(0.9);
    }

    @include on-design {
      transform: translate(
          calc(-50% + var(--parallax-x)),
          calc(-50% + var(--parallax-y))
        )
        scale(1);
    }
  }

  &__content {
    grid-column: 1 / -1;
    max-width: 754px;
    place-self: center;

    & > h2 {
      margin-bottom: 24px;
    }
  }

  &__title,
  &__text {
    --reveal-duration: 0.6s;
    --reveal-delay: 0s;

    opacity: 0;
    transform: translateY(20px);

    transition: opacity var(--reveal-duration) ease,
      transform var(--reveal-duration) ease;

    will-change: opacity, transform;
  }

  &__title.is-visible,
  &__text.is-visible {
    opacity: 1;
    transform: translateY(0);
    transition-delay: var(--reveal-delay);
  }

  &__title {
    --reveal-delay: 0s;
  }

  &__text {
    --reveal-delay: 0.15s;

    @extend %font-description;

    margin-bottom: 56px;

    @include on-tablet {
      margin-bottom: 64px;
    }
  }

  &__button {
    justify-content: center;
    place-self: center;
    width: 100%;

    & button {
      height: 56px;
    }

    @include on-tablet {
      width: 264px;
    }
  }
}
