.expertise {
  background-color: $white;
  border-radius: var(--border-radius);

  &__wrapper {
    row-gap: 56px;
    text-align: center;

    @include adaptive-padding(
      72px 20px 72px 20px,
      $tablet: 128px 41px 128px 41px,
      $desktop-s: 128px 54px 134px 54px,
      $design: 128px 54px 134px 54px
    );

    @include on-tablet {
      row-gap: 64px;
    }
  }

  &__title {
    grid-column: 1 / -1;
  }

  &__content {
    grid-column: 1 / -1;

    display: flex;
    flex-direction: column;
    gap: 56px;

    @include on-tablet {
      grid-column: 2 / -2;
      gap: 72px;
    }

    @include on-desktop-s {
      grid-column: 1 / -1;
      flex-direction: row;
      column-gap: 137px;
    }
  }

  &__image-container {
    position: relative;
    width: 166px;
    height: 166px;
    border-radius: $bg-image-radius;
    overflow: hidden;
    place-self: center;
    margin-bottom: 32px;

    @include hover(transform, rotate(45deg));
    @include hover(transform, rotate(-45deg) scale(1.4), ".expertise__image");
  }

  &__image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform $my-duration;
  }

  &__subtitle {
    margin-bottom: 16px;
  }
  &__description {
    @extend %font-secondary-text;
  }
}
