.footer {
  position: relative;
  background-color: var(--bg-secondary);
  border-radius: 30px 30px 0 0;
  transition: background-color $my-duration, border-radius $my-duration;

  &::before {
    z-index: -1;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 200px;
    background-color: $white;
  }

  @include on-desktop-s {
    border-radius: var(--border-radius) var(--big-border-radius) 0 0;
  }

  &__wrapper {
    @include adaptive-padding(
      72px 20px 80px 20px,
      $tablet: 180px 41px 80px 41px,
      $desktop-s: 180px 54px 80px 54px
    );
  }

  &__title {
    grid-column: 1 / -1;
    @extend %font-form-title;

    margin-bottom: 48px;

    @include on-tablet {
      margin-bottom: 56px;
    }
  }

  &__form {
    grid-column: 1 / -1;

    margin-bottom: 80px;

    @include on-tablet {
      grid-column: 1 / 5;

      margin-bottom: 120px;
    }

    @include on-desktop-s {
      grid-column: 1 / 6;
    }

    &-button {
      display: flex;
      justify-content: center;

      & button {
        height: 56px;
      }

      @include on-tablet {
        width: 264px;
      }
    }
  }

  &__bottom {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;

    @include on-desktop-s {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__logo-link {
    height: 100%;
    margin-bottom: 48px;

    @include on-tablet {
      margin-bottom: 24px;
    }

    @include on-desktop-s {
      margin-bottom: 0;
    }
  }
}
