.header {
  position: relative;
  background-color: var(--bg-secondary);
  border-radius: 0 0 30px 30px;
  transition:
    background-color $my-duration,
    border-radius $my-duration;

  @include on-desktop-s {
    display: grid;
    grid-template-rows: 120px 680px;
    grid-template-columns: 1fr minmax(502px, 1fr);
    border-radius: 0 0 30px var(--big-border-radius);
  }

  &__wrapper {
    grid-column: 1 / -1;

    @include adaptive-padding(
      96px 20px 0 20px,
      $tablet: 104px 41px 0 41px,
      $desktop-s: 240px 54px 0 54px
    );
  }

  &__top {
    --adaptive-top: 20px;

    z-index: 2;
    position: fixed;
    justify-self: center;
    max-width: $content-max-width;
    width: 100%;
    top: var(--adaptive-top);
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding-inline: 20px;

    transition:
      transform $my-duration ease,
      opacity $my-duration ease;

    &.top-height {
      transform: translateY(-10px);

      @include on-desktop-s {
        transform: translateY(-38px);
      }
    }

    &.hidden {
      transform: translateY(-60px);

      @include on-desktop-s {
        transform: translateY(-88px);
      }

      opacity: 0;
      pointer-events: none;
    }

    @include on-desktop-s {
      top: 48px;
    }

    &::before {
      z-index: -1;
      content: '';
      display: block;
      position: absolute;
      inset: -20px 0 -10px;
      background-color: var(--bg-secondary);
      border-radius: 0 0 8px 8px;
      opacity: 0;

      @include on-desktop-s {
        top: -48px;
      }
    }

    &.top-bg::before {
      opacity: 0.8;
      pointer-events: auto;
    }

    @include on-tablet {
      padding-inline: 41px;
    }

    @include on-desktop-s {
      padding-inline: 54px;
    }

    div:first-child {
      display: flex;
      align-items: center;
    }
  }

  &__nav-right {
    display: flex;
    align-items: center;
    height: 100%;
  }

  &__content {
    grid-column: 1 / -1;

    margin-bottom: 48px;

    @include on-tablet {
      margin-bottom: 147px;
    }

    @include on-desktop-s {
      margin-bottom: 0;
    }
  }

  &__hero {
    display: grid;
    grid-column: 2 / -1;
  }

  &__logo-link {
    margin-right: 32px;

    @include on-desktop-s {
      margin-right: 0;
    }
  }

  &__hire-us {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    @extend %font-nav;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      display: block;
      height: 2px;
      width: 100%;
      background-color: var(--bg-button-page);
      border-radius: 4px;
      transition: background-color $my-duration;
    }
  }

  &__title {
    grid-column: 1 / -1;
    margin-bottom: 32px;

    @include on-tablet {
      margin-bottom: 24px;
    }

    @include on-desktop-s {
      grid-column: 1 / 5;

      margin-bottom: 32px;
    }
  }

  &__text {
    grid-column: 1 / -1;
    @extend %font-header-text;

    @include on-tablet {
      grid-column: 1 / 5;

      margin-bottom: 56px;
    }

    @include on-desktop-s {
      grid-column: 1 / 6;

      margin-bottom: 83px;
    }

    @include on-design {
      grid-column: 1 / 5;
    }

    margin-bottom: 72px;
  }

  &__button {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;

    @include on-tablet {
      width: 264px;
      place-self: start;
    }
  }

  &__menu-btn {
    padding-block: 10px;
    @include on-desktop-s {
      display: none;
    }
  }
}
