.header {
  background-color: var(--bg-header);
  color: $white;
  border-radius: 0 0 30px var(--header-border-radius);

  @include on-desktop-s {
    display: grid;
    grid-template-rows: 120px 680px;
    grid-template-columns: 1fr minmax(502px, 1fr);
  }

  &__wrapper {
    grid-column: 1 / -1;

    @include adaptive-padding(
      18px 20px 0 20px,
      $tablet: 18px 41px 0 41px,
      $desktop-s: 52px 54px 0 54px
    );
  }

  &__top {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;

    @extend %font-nav;

    div:first-child {
      display: flex;
      align-items: center;
    }

    margin-bottom: 48px;

    @include on-tablet {
      margin-bottom: 56px;
    }

    @include on-desktop-s {
      margin-bottom: 158px;
    }
  }

  &__content {
    grid-column: 1 / -1;

    margin-bottom: 48px;

    @include on-tablet {
      margin-bottom: 147px;
    }

    @include on-desktop-s {
      margin-bottom: 0;
    }
  }

  &__hero {
    display: grid;
    grid-column: 2 / -1;
  }

  &__logo-link {
    margin-right: 32px;
  }

  &__logo-img {
    height: 28px;
    width: 46px;
  }

  &__nav {
    display: none;
    height: 100%;

    @include on-desktop-s {
      display: flex;
      align-items: center;
    }
  }

  &__hire-us {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      display: block;
      height: 2px;
      width: 100%;
      background-color: var(--bg-button-page);
      border-radius: 4px;
    }
  }

  &__title {
    grid-column: 1 / -1;
    margin-bottom: 32px;

    @include on-tablet {
      margin-bottom: 24px;
    }

    @include on-desktop-s {
      grid-column: 1 / 5;

      margin-bottom: 32px;
    }
  }

  &__text {
    grid-column: 1 / -1;
    @extend %font-header-text;

    @include on-tablet {
      grid-column: 1 / 5;

      margin-bottom: 56px;
    }

    @include on-desktop-s {
      grid-column: 1 / 6;

      margin-bottom: 83px;
    }

    @include on-design {
      grid-column: 1 / 5;
    }

    margin-bottom: 72px;
  }

  &__button {
    grid-column: 1 / -1;
    place-self: center;

    @include on-tablet {
      place-self: start;
    }
  }
}
