.hero {
  position: relative;
  height: 390px;
  border-radius: 30px;
  transition: border-radius $my-duration;
  overflow: hidden;

  &__wrapper {
    position: absolute;
    inset: 0;
  }

  &__slider {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &-buttons {
      display: flex;
      gap: 16px;
    }

    &-button--right {
      transform: scale(-1);
    }
  }

  &__slide {
    width: 100%;
    height: 100%;

    -webkit-tap-highlight-color: transparent;
  }

  &__slide-img {
    object-fit: cover;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    &--theme {
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: opacity $my-duration ease-in-out;
    }
  }

  @include on-desktop-s {
    height: 680px;

    border-radius: var(--big-border-radius) 0 var(--border-radius) 0;
  }

  &__container {
    z-index: 1;
    position: absolute;
    grid-column: 1 / -1;
    display: grid;
    height: 100%;
    pointer-events: none;

    @include adaptive-padding(
      0 20px 24px 20px,
      $tablet: 0 41px 32px 41px,
      $desktop-s: 0 0 48px 78px,
      $design: 0 0 48px 48px
    );
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    max-width: 280px;
    gap: 16px;
    pointer-events: auto;

    @include on-desktop-s {
      flex-direction: row;
      align-items: center;
      max-width: 370px;
      gap: 24px;
    }
  }

  &__title {
    margin-bottom: 8px;
    color: $white;
  }

  &__text {
    @extend %font-secondary-text;

    text-align: left;
    color: $font-color-primary;
  }
}

.swiper-wrapper {
  height: 100%;
}
