.menu {
  z-index: 3;
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  @include on-desktop-s {
    display: none;
  }

  &__button {
    gap: 0;

    &::after {
      transform: translateY(-50%) rotate(45deg);
    }
    &::before {
      transform: translateY(50%) rotate(-45deg);
    }

    &--close {
      position: absolute;
      padding: 30px 25px;
      right: 0;
    }
  }

  &--active {
    display: block;
    backdrop-filter: blur(10px);

    .nav-menu {
      opacity: 1;
    }
  }

  &-bg--active::before {
    transition: bottom $my-duration;
    bottom: -100vh;
    opacity: 0.9;
  }
}
