.nav {
  display: none;

  &__list {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;

    & > li {
      height: 100%;

      @include on-desktop-s {
        position: relative;

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          display: block;
          height: 2px;
          width: 100%;
          transform: scaleX(0);
          background-color: var(--bg-button-page);
          border-radius: 4px;
          transform-origin: left;
          transition: transform $my-duration;
        }

        &:hover::after {
          transform: scaleX(1);
        }
      }
    }
  }

  &__link {
    align-items: center;
    height: 100%;
  }

  &-header {
    height: 100%;

    @include on-desktop-s {
      display: flex;
      align-items: center;
    }

    &__list {
      gap: 48px;

      // & > li {
      //   position: relative;

      //   &::after {
      //     content: '';
      //     position: absolute;
      //     bottom: 0;
      //     display: block;
      //     height: 2px;
      //     width: 100%;
      //     transform: scaleX(0);
      //     background-color: var(--bg-button-page);
      //     border-radius: 4px;
      //     transform-origin: left;
      //     transition: transform $my-duration;
      //   }

      //   &:hover::after {
      //     transform: scaleX(1);
      //   }
      // }
    }
  }

  &-footer {
    height: 100%;
    display: flex;

    &__list {
      flex-direction: column;
      align-items: start;
      gap: 24px;

      @include on-tablet {
        flex-direction: row;
        gap: 40px;
      }

      @include on-tablet {
        gap: 0;
        justify-content: space-between;
        max-width: 541px;
      }

      @include on-desktop-s {
        gap: 64px;
        max-width: 100%;
      }
    }
  }
}
