.testimonials {
  grid-row: 48px;

  @include adaptive-padding(
    0 20px 120px 20px,
    $tablet: 0 41px 148px 41px,
    $desktop-s: 0 54px 186px 54px,
    $design: 0 54px 148px 54px
  );

  &__top {
    grid-column: 1 / -1;
  }

  &__section-title {
    margin-bottom: 16px;
  }

  &__title {
    margin-bottom: 48px;

    @include on-tablet {
      max-width: 202px;
      margin-bottom: 56px;
    }

    @include on-desktop-s {
      margin-bottom: 85px;
    }
  }

  &__content {
    grid-column: 1 / -1;
    row-gap: 24px;
  }
  &__card {
    grid-column: 1 / -1;

    @include on-desktop-s {
      &--1 {
        &:hover {
          .card-testimonials__back-image--1 {
            &::before {
              transform: translateY(-20%) translateX(-90%) rotate(30deg);
            }

            &::after {
              transform: translateY(20%) translateX(90%) rotate(30deg);
            }
          }
        }
      }

      &--2 {
        &:hover {
          .card-testimonials__back-image--2 {
            &::before {
              transform: translateY(-20%) translateX(-90%) rotate(30deg);
            }

            &::after {
              transform: translateY(20%) translateX(90%) rotate(30deg);
            }
          }
        }
      }

      &--3 {
        &:hover {
          .card-testimonials__back-image--3 {
            &::before {
              transform: translateY(-20%) translateX(-90%) rotate(30deg);
            }

            &::after {
              transform: translateY(20%) translateX(90%) rotate(30deg);
            }
          }
        }
      }
    }

    &-image {
      &--1 {
        @include background-config(
          url(../images/testimonials/testimonial-ava-1.webp),
          $position: top
        );
      }

      &--2 {
        @include background-config(
          url(../images/testimonials/testimonial-ava-2.webp),
          $position: top
        );
      }

      &--3 {
        @include background-config(
          url(../images/testimonials/testimonial-ava-3.webp),
          $position: top
        );
      }
    }

    @include on-desktop-s {
      grid-column: span 4;

      &--1 {
        @include hover(box-shadow, var(--card-shadow-1));
        @include hover(transform, translateY(-10px));
      }

      &--2 {
        @include hover(box-shadow, var(--card-shadow-2));
        @include hover(transform, translateY(-10px));
      }

      &--3 {
        @include hover(box-shadow, var(--card-shadow-3));
        @include hover(transform, translateY(-10px));
      }
    }
  }
}
