:root {
  --bg-header: #2c2c2c;
  --bg-button-page: #2060f6;
  --bg-button-form: #144ed4;
  --bg-svg-icon-hover: #2060f6;
  --bg-card-1: rgba(32, 96, 246, 0.1);
  --bg-card-2: rgba(32, 96, 246, 0.1);
  --bg-card-3: rgba(32, 96, 246, 0.1);
  --bg-card-4: rgba(32, 96, 246, 0.1);
  --color-card-1: #2060f6;
  --color-card-2: #2060f6;
  --color-card-3: #2060f6;
  --color-card-4: #2060f6;
  --button-page-radius: 8px;
  --header-border-radius: 30px;
  --border-radius: 30px;
  --nav-font-size: 13px;
  --h1-size: 52px;
  --h2-size: 44px;
  --h3-size: 32px;
  --h4-size: 20px;
  --text-size: 22px;
}

html[data-theme='light'] {
  --bg-header: #008aff;
  --bg-button-page: #ff9c8e;
  --bg-button-form: #ff7e6c;
  --bg-svg-icon-hover: #d2ebff;
  --bg-card-1: rgb(86, 204, 242, 0.1);
  --bg-card-2: rgb(252, 201, 29, 0.1);
  --bg-card-3: rgb(21, 216, 80, 0.1);
  --bg-card-4: rgb(243, 99, 99, 0.1);
  --color-card-1: #56ccf2;
  --color-card-2: #fcc91d;
  --color-card-3: #15d850;
  --color-card-4: #f36363;
  --button-page-radius: 64px;
  --header-border-radius: 200px;
  --border-radius: 0;
}
