:root {
  --bg-switcher: #fff;
  --bg-secondary: #2c2c2c;
  --bg-button-page: #2060f6;
  --bg-button-form: #144ed4;
  --bg-svg-icon-hover: #2060f6;
  --bg-border-form: #144ed4;
  --bg-card-1: rgba(32, 96, 246, 0.1);
  --bg-card-2: rgba(32, 96, 246, 0.1);
  --bg-card-3: rgba(32, 96, 246, 0.1);
  --bg-card-4: rgba(32, 96, 246, 0.1);
  --card-shadow-1: 0px 0px 18px 6px rgba(32, 96, 246, 0.2);
  --card-shadow-2: 0px 0px 18px 6px rgba(32, 96, 246, 0.2);
  --card-shadow-3: 0px 0px 18px 6px rgba(32, 96, 246, 0.2);
  --card-shadow-4: 0px 0px 18px 6px rgba(32, 96, 246, 0.2);
  --bg-socials-hover: #2060f6;
  --color-card-1: #2060f6;
  --color-card-2: #2060f6;
  --color-card-3: #2060f6;
  --color-card-4: #2060f6;
  --shapes-color-1: #2060f6;
  --shapes-color-2: #2060f6;
  --shapes-color-3: #2060f6;
  --shapes-color-4: #2060f6;
  --shapes-color-5: #2060f6;
  --button-page-radius: 8px;
  --big-border-radius: 30px;
  --border-radius: 30px;
  --nav-font-size: 13px;
  --h1-size: 52px;
  --h2-size: 44px;
  --h3-size: 32px;
  --h4-size: 20px;
  --text-size: 22px;
  --st-miterlimit-1: 6;
  --st-miterlimit-2: 8;
  --st-miterlimit-3: 10;
  --st-miterlimit-4: 12;
}

html[data-theme='light'] {
  --bg-switcher: #ff9c8e;
  --bg-secondary: #008aff;
  --bg-button-page: #ff9c8e;
  --bg-button-form: #ff7e6c;
  --bg-svg-icon-hover: #d2ebff;
  --bg-border-form: #fff;
  --bg-card-1: rgb(86, 204, 242, 0.1);
  --bg-card-2: rgb(252, 201, 29, 0.1);
  --bg-card-3: rgb(21, 216, 80, 0.1);
  --bg-card-4: rgb(243, 99, 99, 0.1);
  --bg-socials-hover: #d2ebff;
  --card-shadow-1: 0px 0px 18px 6px rgba(86, 204, 242, 0.2);
  --card-shadow-2: 0px 0px 18px 6px rgba(252, 195, 4, 0.2);
  --card-shadow-3: 0px 0px 18px 6px rgba(3, 213, 66, 0.2);
  --card-shadow-4: 0px 0px 18px 6px rgba(242, 86, 86, 0.2);
  --color-card-1: #56ccf2;
  --color-card-2: #fcc91d;
  --color-card-3: #15d850;
  --color-card-4: #f36363;
  --shapes-color-1: #f25656;
  --shapes-color-2: #fcc304;
  --shapes-color-3: #03d542;
  --shapes-color-4: #56ccf2;
  --shapes-color-5: #bc04fc;
  --button-page-radius: 64px;
  --big-border-radius: 200px;
  --border-radius: 0;
  --st-miterlimit-1: 8;
  --st-miterlimit-2: 12;
  --st-miterlimit-3: 17;
  --st-miterlimit-4: 25;

  .hero__slide-img--theme {
    opacity: 1;
  }
}
