html {
  font-family: Poppins, sans-serif;
}

h1 {
  @extend %h1;
}

h2 {
  @extend %h2;
}

h3 {
  @extend %h3;
}

h4 {
  @extend %h4;
}

h5 {
  @extend %font-section-title;
}

button {
  @extend %font-button;
}

input {
  @extend %input-placeholder;

  color: $white;

  &:focus {
    opacity: 1;
  }

  &::placeholder {
    @extend %input-placeholder;
  }
}

nav {
  @extend %font-nav;
}
