html {
  font-family: Poppins, sans-serif;
}

h1 {
  @extend %h1;
}

h2 {
  @extend %h2;
}

h3 {
  @extend %h3;
}

h4 {
  @extend %h4;
}

h5 {
  @extend %font-section-title;
}

.card-font-text {
  @extend %font-card-text;
}

.section-title {
  @extend %font-section-title;
}

.button {
  @extend %font-button;
}

.text-uppercase {
  text-transform: uppercase;
}
