@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin on-large {
  @media (min-width: $large-min-width) {
    @content;
  }
}

@mixin on-design {
  @media (min-width: $design-min-width) {
    @content;
  }
}

@mixin on-desktop-s {
  @media (min-width: $desktop-s-min-width) {
    @content;
  }
}

@mixin on-tablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin svg-icon-theme($name, $color, $hover) {
  &.svg-icon-#{$name} {
    fill: $color;

    &:hover,
    &:focus {
      fill: $hover;
    }
  }
}

@mixin page-grid {
  --grid-columns: 2;

  display: grid;
  column-gap: $min-column-gap;
  grid-template-columns: repeat(var(--grid-columns), 1fr);

  @include on-tablet {
    --grid-columns: 6;

    column-gap: $max-column-gap;
  }

  @include on-desktop-s {
    --grid-columns: 12;

    column-gap: $min-column-gap;
  }

  @include on-design {
    column-gap: $max-column-gap;
  }
}

@mixin main-block-padding {
  padding-top: 120px;
  padding-bottom: 80px;

  @include on-tablet {
    padding-top: 148px;
  }
}

@mixin adaptive-padding(
  $base: null,
  $tablet: null,
  $desktop-s: null,
  $desktop: null,
  $design: null,
  $large: null
) {
  @if $base {
    padding: $base;
  } @else {
    padding: 0 $def-inline-padding;
  }

  @if $tablet {
    @include on-tablet {
      padding: $tablet;
    }
  }

  @if $desktop-s {
    @include on-desktop-s {
      padding: $desktop-s;
    }
  }

  @if $desktop {
    @include on-design {
      padding: $desktop;
    }
  }

  @if $design {
    @include on-design {
      padding: $design;
    }
  }

  @if $large {
    @include on-large {
      padding: $large;
    }
  }
}

@mixin background-config(
  $image: none,
  $position: center,
  $repeat: no-repeat,
  $size: cover
) {
  background-image: $image;
  background-position: $position;
  background-repeat: $repeat;
  background-size: $size;
}
