$yellow-primary: #fcc91d;
$yellow-secondary: #fcc304;
$pink-primary: #f36363;
$pink-secondary: #f25656;
$green: #15d850;
$blue-primary: #56ccf2;
$blue-secondary: #2060f6;
$white: #fff;
$grey: #253757;
$bg-page: #f2f6fa;
$font-color-primary: #fff;
$font-color-secondary: #6c788b;
$font-color-title: #253757;
$font-grey: #c0cdd7;
$min-width: 320px;
$content-max-width: 1146px;
$max-column-gap: 30px;
$min-column-gap: 20px;
$large-min-width: 2560px;
$design-min-width: 1600px;
$desktop-min-width: 1280px;
$desktop-s-min-width: 1024px;
$tablet-min-width: 640px;
$article-radius: 16px;
$bg-image-radius: 16px;
$card-decor-radius: 12px;
$card-decor-degree: 60deg;
$circle: 50%;
$bg-decor-1: #f25656;
$bg-decor-2: #fcc304;
$bg-decor-3: #03d542;
$bg-decor-4: #56ccf2;
$bg-decor-5: #bc04fc;
